body {
  text-align: left;
  color: #FFFBEE;
  font-family: Helvetica;
  background: url("http://i.imgur.com/76zW7PT.jpg");
  background-size: cover;

}

h1 { 
	font-size 200x;
}


h2 {
	font-size: 150x;
}

{

P 
	font-size: 100X;
}
